[submodule "UserEntity"]
	path = UserEntity
	url = https://github.com/dchangwe/UserEntity.git
[submodule "AbstractEntity"]
	path = AbstractEntity
	url = https://github.com/dchangwe/AbstractEntity.git
